
/* this is for the footer */
#footerContainer{
    background-color:#9de3fa;
    color:rgb(0, 0, 0);
    
}
footer h5{
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin:0;
}
footer h5::before{
    content: "\00A9"
}
footer img{
    height:30px;
    width: 30px;
    align-items: center;
    padding: 10px;
   
}
footer img:hover{
    cursor:pointer;
}
#footerImg{
    text-align: center;
}