:root {
  --light-gray: #d3dae1;
  --bronze: #c8a47e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.c-item {
  height: 700px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.overview {
  height: 130px;
  background-color: var(--light-gray);
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.try-now-container {
  height: 60px;
  background-color: var(--light-gray);
}
#tool {
  height: 2000px;
  position: relative !important;
  color: white !important;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images-project/muir-beach.jpg");
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background-size: cover;
}
.card-body {
  background-color: var(--light-gray);
  display: inline-block;
}
.option_box {

}