/*
CSS worked on by Adam, Porsche, Jenina, romy
*/

/*Created root directory for repeat-use colors*/
:root {
  --light-gray: #d3dae1;
  --bronze: #c8a47e;
}
/*Universal selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*Modal Style*/
#modal_body {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    overflow: auto;
    background-color: #fefefec9;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5%;
    align-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
}

#modal_body h2 {
    font-size: 30px;
    margin-top: 5%;
}

#modal_button {
    color: white;
    font-size: 25px;
    font-weight: 200;
    align-items: center;
    text-align: center;
    padding: 2px 10px 2px 10px;
    margin-bottom: 5%;
    border-radius: 25px;
    border: none;
    transition: .3s;
}

#modal_button:hover,
#modal_button:focus {
    cursor: pointer;
    animation: pulse 1s infinite;
    transition: .3s;
}

/*Modal Button Animation effects*/
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
}

/*Carousel items*/
.c-item {
  height: 700px;
}
/*Carousel images*/
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
/*Overview section*/
.overview {
  height: 130px;
  background-color: var(--light-gray);
}
/*Adjust height and color of try-now-container*/
.try-now-container {
  height: 60px;
  background-color: var(--light-gray);
}
/* #tool is the main tool we created. Here we are styling the page on which we will display the results */
#tool {
  height: 1800px;
  position: relative !important;
  color: white !important;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images-project/muir-beach.jpg");
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background-size: cover;
}
